*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 
  }  


.mini-container{
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 10px;
    
   
   
}

.flex-box{
    display: flex;
}

.block-yellow{
 flex: 0 1 30%;
 text-align: center; 
}

header{
     flex: 0 1 70%; 
     text-align: center;
}

.block-blue1,.block-blue2{
    flex: 0 1 60%;
}

.block-pink1,.block-pink2{
    flex: 0 1 40%
}

main{
    flex:0 1 100%
}

.block-salmon{
    flex: 0 1 35%;
   
}

.block-color{
    flex: 0 1 20%;
}

.block-aqua{
    
    flex: 0 1 100%;
}

.logo{
    font-size: 30px;
    height: 45px;
    border: 1px dashed black;
    margin-top: 20px;
 }   
    

   
    
   




    
   






    
